<div *ngFor="let user of users$ | async" class="user-wrap">
    <div class="user-card" (click)="userPage(user.id)">
        <img [src]="user.image" onError="this.src='/assets/images/no-img.png'" class="avatar" alt="">
        <div class="info">
            <p>{{user.login}}</p>
            <p>{{user.email}}</p>
        </div>
        <div class="control-zone">
            <button (click)="getDialog(user.id)">
                <i class='bx bx-chat'></i>
            </button>
        </div>
    </div>
</div>