.user-wrap {
    position: relative;
}

.user-card {
    cursor: pointer;
    width: 100%;
    margin-top: .2em;
    padding: .3em .4em;
    border-radius: .2em;
    display: flex;
    align-items: center;
    border: 1px solid var(--main-bg);
}

.user-card .avatar {
    width: 47px;
    height: 47px;
    border-radius: .2em;
}

.user-card .info {
    margin-left: .4em;
}

.user-card .info p {
    margin: 0;
    user-select: none;
    color: var(--main-bg);
}

.control-zone {
    position: absolute;
    top: 50.5%;
    right: .6em;
    transform: translateY(-50%);
}

.control-zone button {
    display: flex;
    padding: 0;
    border: none;
    cursor: pointer;
    font-size: x-large;
    color: var(--main-bg);
    background-color: transparent;
}

.control-zone a {
    font-size: x-large;
    color: var(--main-bg);
}