<div class="nav-bar">
    <div class="logo">
        <div class="logo-name">
            <i class='bx bx-chat'></i>
            <p>Chat</p>
        </div>
        <i class='bx bx-menu' id="menu-btn"></i>
    </div>
    <nav>
        <ul>
            <li>
                <a routerLink="dialogs">
                    <i class='bx bx-message-square-dots'></i>
                    <p>
                        Сообщения
                    </p>
                    <small class="dialogs-count-small" *ngIf="count > 0">
                        {{count}}
                    </small>
                </a>
                <p>Сообщения</p>
            </li>
            <li>
                <a routerLink="friends">
                    <i class='bx bxs-user-detail'></i>                   
                    <p>Собеседники</p>
                </a>
                <p>Собеседники</p>
            </li>
            <li routerLink="">
                <a>
                    <i class='bx bx-user'></i>
                    <p>Пользователи</p>
                </a>
                <p>Пользователи</p>
            </li>
            <li>
                <a routerLink="" (click)="logout()" class="account account-login">
                    <p class="email">{{email}}</p>
                    <i class='bx bx-log-in'></i>
                </a>
            </li>
        </ul>
    </nav>
</div>