<div class="container">
    <div class="messages-wrap">

        <div class="control-wrap">
            <div *ngIf="dialogView$ | async as dialog" class="control-top">
                <div>
                    <div class="user-card">
                        <img [src]="dialog.image" onError="this.src='/assets/images/no-img.png'" class="avatar" alt="">
                        <div class="info">
                            <p>{{dialog.login}}</p>
                        </div>
                    </div>
                </div>
                <div class="control-zone">
                    <div>
                        <button (click)="toogleDeleteMode(true)">
                            <i class='bx bx-message-square-minus'></i>
                        </button>
                    </div>
                    <div>
                        <button (click)="dialogInfo(true)">
                            <i class='bx bx-info-circle'></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="message-info-wrap" *ngIf="isDeleteMode">
                <div class="message-delete-count">
                    <p>Сообщений: {{selectedMessages.length}}</p>
                </div>
                <div class="control-zone">
                    <div>
                        <button (click)="deleteMessages()">
                            <i class='bx bx-message-square-x'></i>
                        </button>
                    </div>
                    <div>
                        <button class="close-btn" (click)="toogleDeleteMode(false)">X</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="message-zone">
            <div class="messages">
                <div *ngFor="let message of messages$ | async; let i = index" (click)="selectMessage(message)"
                [ngClass]="{'selected': message.isSelected }">
                    <div *ngIf="message.userId != userId">
                        <div class="left">
                            <p class="message-content">{{message.content}}</p>
                        </div>
                        <p class="message-time lf">{{message.dateCreate | date: 'HH:mm dd/MM/yyyy' }}</p>
                    </div>
                    <div *ngIf="message.userId == userId">
                        <div class="right">
                            <p class="message-content">{{message.content}}</p>
                        </div>
                        <p class="message-time rg">{{message.dateCreate | date: 'HH:mm dd/MM/yyyy' }}</p>
                    </div>
                    <div *ngIf="i == messages.length - 1" class="scroll" hidden>{{scrollToBottom()}}</div>
                </div>
            </div>
        </div>

        <div class="send-zone">
            <div>
                <textarea type="text" [(ngModel)]="content"></textarea>
            </div>
            <div>
                <button (click)="send()">
                    <span class="material-icons-outlined">
                        send
                    </span>
                </button>
            </div>
        </div>
    </div>

    <div class="info-wrap" *ngIf="controlShow">
        <div class="info-zone">
            <div class="info-title-zone">
                <p>Информация о диалоге</p>
                <button class="close-btn" (click)="dialogInfo(false)">X</button>
            </div>
            <div>
                <p *ngIf="dialogView$ | async as dialog">Диалог: {{dialog.login}}</p>
            </div>
            <div class="user-info">
                <div class="users-info-zone">
                    <p>Участники</p>
                    <div *ngFor="let user of users$ | async">
                        <div class="user-card">
                            <img [src]="user.image" onError="this.src='/assets/images/no-img.png'" 
                            class="avatar" alt="">
                            <p>{{user.login}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>