<div class="wrapper">
    <div class="container">
        <div class="controls">
            <div>
                <button (click)="addDialog()">
                    <i class='bx bx-message-square-add' ></i>
                </button>
            </div>
            <div>
                <button (click)="toogleDeleteMode()">
                    <i class='bx bx-message-square-x'></i>
                </button>
            </div>
        </div>
        <div class="dialogs-wrap">
            <div *ngFor="let dialog of dialogs$ | async" class="dialog-wrap"
             [ngClass]="{'isConfirm': dialog.lastUserId != userId && dialog.lastUserId != 0 && !dialog.isConfirm}">
                <a *ngIf="dialog && !deleteMode; else delete" [routerLink]="'../chat/' + dialog.id" class="dialog">
                    <img [src]="dialog.image" onError="this.src='/assets/images/no-img.png'" class="avatar" alt="">
                    <div class="info">
                        <p>{{dialog.login}}</p>
                        <p *ngIf="dialog.lastMessage.length > 0">Сообщение: {{dialog.lastMessage}}</p>
                    </div>
                    <span *ngIf="dialog.lastMessage.length > 0" class="time">
                        {{dialog.dateTime | date: 'HH:mm dd/MM/yyyy'}}
                    </span>
                </a>
                <ng-template #delete>
                    <div (click)="deleteDialog(dialog.id)" class="dialog bg">
                        <img [src]="dialog.image" onError="this.src='/assets/images/no-img.png'" class="avatar" alt="">
                        <div class="info">
                            <p>{{dialog.login}}</p>
                            <p *ngIf="dialog.lastMessage.length > 0">Сообщение: {{dialog.lastMessage}}</p>
                        </div>
                        <span *ngIf="dialog.lastMessage.length > 0" class="time">
                            {{dialog.dateTime | date: 'HH:mm dd/MM/yyyy'}}
                        </span>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    
    <div class="create-wrap" *ngIf="createShow">
        <div class="create-zone">
            <div class="control-zone">
                <p>Создание диалога</p>
                <button class="close-btn" (click)="closeDialog()">X</button>
            </div>
            <div>
                <input type="text" [(ngModel)]="dialogName" placeholder="название диалога">
            </div>
            <div>
                <div class="image-zone">
                    <button (click)="fileInput.click()" class="select-image">
                        <span>Выбрать изображение</span>
                    </button>
                    <input type="file" (change)="handleFileInput($event)" #fileInput hidden>
                    <p class="file-name"></p>
                </div>
            </div>
            <div class="user-select">
                <div class="users-select-zone">
                    <p>Выберите пользователей для добавления в диалог.</p>
                    <div class="user-scroll-zone">
                        <div *ngFor="let friend of friends$ | async">
                            <div class="user-card" (click)=toogleUser(friend.id)>
                                <img [src]="friend.image" onError="this.src='/assets/images/no-img.png'"
                                class="avatar" alt="">
                                <p class="login">{{friend.login}}</p>
                                <div *ngIf="friendsDialog.indexOf(friend.id) > -1" class="mark">
                                    <p>
                                        <i class='bx bx-check'></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="create-btn-wrap">
                <div>
                    <button class="create-btn" (click)="createDialog()">Создать</button>
                </div>
            </div>
        </div>
    </div>
</div>