.wrapper {
    --main-color: #fafafa;
    --main-bg: #cdb4db;
}

.container {
    margin: 0 25%;
    position: relative;
}

.controls {
    padding: .3em 0;
}

.controls button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: x-large;
    background-color: transparent;
}

.create-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.create-zone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #212529;
    border-radius: .4em;
    padding: .3em .4em;
    width: 45%;
    height: 50%;
}

.create-zone * {
    font-size: 11pt;
    user-select: none;
    color: var(--main-color);
}

.create-zone > div {
    margin: 0 0 .6em 0;
}

.create-zone p {
    margin: .3em .1em;
}

.controle-zone .close-btn {
    cursor: pointer;
    font-size: 9pt;
    position: absolute;
    top: 3px;
    right: 3px;
    border: none;
    background-color: transparent;
}

.image-zone {
    display: flex;
    align-items: flex-end;
}

.file-name {
    margin: 0;
    margin: .5em 0 .5em .2em;
}

.select-image {
    cursor: pointer;
    font-size: 10pt;
    padding: .5em .8em;
    width: fit-content;
    border-radius: 1.5em;
    text-transform: unset;
    background-color: transparent;
    border: 1px solid var(--main-bg);
}

.select-image:hover {
    background-color: var(--main-bg);
}

.create-zone input[type=text] {
    border: 1px solid gray;
    padding: .3em;
    width: 100%;
    border-radius: .2em;
    background-color: transparent;
}

.user-card {
    width: 100%;
    margin-top: .2em;
    padding: .2em .3em;
    border-radius: .2em;
    display: flex;
    align-items: center;
    border: 1px solid var(--main-bg);
}

.user-card * {
    user-select: none;
}

.user-card .avatar {
    width: 30px;
    height: 30px;
    border-radius: .2em;
}

.user-card p {
    margin: 0;
    padding-left: .4em;
    color: var(--main-bg);
}

.create-btn-wrap {
    position: absolute;
    right: 5px;
    bottom: 0;
}

.create-btn-wrap .create-btn {
    border: none;
    padding: .3em;
    cursor: pointer;
    border-radius: .3em;
    color: var(--main-color);
    background-color: var(--main-bg);
}

.dialogs-wrap {
    grid-column: 2;
    user-select: none;
}

.dialogs-wrap .isConfirm .dialog {
    color: var(--main-color);
    border-color: #4545b1c0;
    background-color: #4545b1c0;
}

.dialog {
    display: flex;
    cursor: pointer;
    margin: 0 0 .4em 0;
    align-items: center;
    border-radius: .2em;
    position: relative;
    padding: .3em .4em;
    color: var(--main-bg);
    text-decoration: none;
    border: 1px solid var(--main-bg);
    transition: color 100ms linear, background-color 100ms linear;
}

.dialog:hover {
    color: var(--main-color);
    background-color: var(--main-bg);
}

.dialog:hover {
    color: var(--main-color);
    background-color: var(--main-bg);
}

.dialog .info {
    margin: 0 0 0 .5em;
}

.dialog .info p {
    margin: 0;
}

.dialog .info p:last-child {
    margin: .3em 0 0 0;
}

.dialog .time {
    position: absolute;
    top: 0;
    right: .3em;
    font-size: small;
}

.dialog .avatar {
    width: 47px;
    height: 47px;
}

.dialog-wrap {
    position: relative;
}

.dialog-delete {
    position: absolute;
    right: 5px;
    bottom: 3px;
    cursor: pointer;
    padding: 0;
    border: none;
    color: var(--main-bg);
    font-size: 12px;
    background-color: transparent;
}

.dialog:hover ~ .dialog-delete {
    color: var(--main-color);
}