.wrapper {
    --main-color: #fafafa;
    --main-bg: #cdb4db;
}

.container {
    margin: 0 25%;
    position: relative;
}

.controls {
    padding: .5em 0;
}

.controls > div {
    margin: 0 .2em 0 0;
    display: inline-block;
}

.controls button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: x-large;
    background-color: transparent;
}

.controls button i {
    color: var(--main-bg);
}

.create-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #00000099;
}

.create-zone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #212529;
    border-radius: .4em;
    padding: .3em .4em;
    width: 45%;
    height: fit-content;
    min-height: 275px;
}

.create-zone * {
    font-size: 11pt;
    user-select: none;
    color: var(--main-color);
}

.create-zone > div {
    margin: 0 0 .6em 0;
}

.create-zone p {
    margin: .3em .1em;
}

.control-zone .close-btn {
    cursor: pointer;
    font-size: 9pt;
    position: absolute;
    top: 3px;
    right: 3px;
    border: none;
    background-color: transparent;
}

.create-zone input[type=text] {
    border: 1px solid gray;
    padding: .3em;
    width: 100%;
    border-radius: .2em;
    background-color: transparent;
}

.image-zone {
    display: flex;
    align-items: flex-end;
}

.select-image {
    cursor: pointer;
    padding: .4em .7em;
    width: fit-content;
    border-radius: 1.5em;
    text-transform: unset;
    background-color: transparent;
    border: 1px solid var(--main-bg);
    transition: background-color 100ms linear;
}

.select-image span {
    color: var(--main-color);
    font-size: 9pt;
}

.select-image:hover {
    background-color: var(--main-bg);
}

.image-zone input[type=file] {
    display: none;
}

.file-name {
    margin: .5em 0 .5em .2em;
}

.user-scroll-zone {
    min-height: 130px;
    max-height: 130px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.user-scroll-zone::-webkit-scrollbar {
    width: 4px;
}

.user-scroll-zone::-webkit-scrollbar-track {
    background-color: transparent;
}

.user-scroll-zone::-webkit-scrollbar-thumb {
    background-color: #8f8f8fb6;
}

.user-card {
    cursor: pointer;
    width: 100%;
    margin-top: .2em;
    padding: .2em .3em;
    border-radius: .2em;
    display: flex;
    align-items: center;
    border: 1px solid var(--main-bg);
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: .2em;
}

.user-card p,
.user-card .mark i {
    color: var(--main-bg);
}

.user-card .login {
    margin: 0;
    padding-left: .4em;
}

.user-card .mark {
    margin-left: auto;
}

.create-btn-wrap > div {
    width: fit-content;
    margin-left: auto;
}

.create-btn-wrap .create-btn {
    cursor: pointer;
    padding: .3em .5em;
    border-radius: .4em;
    color: var(--main-color);
    background-color: transparent;
    border: 1px solid var(--main-bg);
}

.dialogs-wrap {
    user-select: none;
}

.dialog:hover,
.dialogs-wrap .isConfirm .dialog {
    color: var(--main-color);
    background-color: var(--main-bg);
}

.dialog {
    display: flex;
    cursor: pointer;
    margin: 0 0 .4em 0;
    align-items: center;
    border-radius: .2em;
    position: relative;
    padding: .3em .4em;
    color: var(--main-bg);
    text-decoration: none;
    border: 1px solid var(--main-bg);
    transition: color 100ms linear, background-color 100ms linear;
}

.bg {
    background-color: #cdb4db3a;
}

.dialog .info {
    margin: 0 0 0 .5em;
}

.dialog .info p {
    margin: 0;
}

.dialog .time {
    position: absolute;
    top: 0;
    right: .3em;
    font-size: small;
}

.dialog .avatar {
    width: 47px;
    height: 47px;
}

.dialog-wrap {
    position: relative;
}