<div class="wrapper">
    <div class="container">
        <div class="controls">
            <button (click)="addDialog()">+</button>
        </div>
        <div class="dialogs-wrap">
            <div *ngFor="let dialog of dialogs | async" 
             [ngClass]="{'isConfirm': dialog.lastUserId != userId && dialog.lastUserId != 0 && !dialog.isConfirm}">
                <a *ngIf="dialog" [routerLink]="'../chat/' + dialog.id" class="dialog">
                    <img [src]="dialog.image" onError="this.src='/assets/images/no-img.png'" class="avatar" alt="">
                    <div class="info">
                        <p>{{dialog.login}}</p>
                        <p *ngIf="dialog.lastMessage.length > 0">Сообщение: {{dialog.lastMessage}}</p>
                    </div>
                    <span *ngIf="dialog.lastMessage.length > 0" class="time">
                        {{dialog.dateTime | date: 'HH:mm dd/MM/yyyy'}}
                    </span>
                </a>
                <button (click)="deleteDialog(dialog.id)">Delete</button>
            </div>
        </div>
    </div>
    <div class="create-wrap" *ngIf="createShow">
        <div class="create-zone">
            <div class="controle-zone">
                <p>Создание диалога</p>
                <button class="close-btn" (click)="closeDialog()">X</button>
            </div>
            <div>
                <input type="text" [(ngModel)]="dialogName" placeholder="название диалога">
            </div>
            <div>
                <div class="image-zone">
                    <button (click)="fileInput.click()" class="select-image">Выбрать изображение</button>
                    <input type="file" (change)="handleFileInput($event)" #fileInput hidden>
                    <p class="file-name"></p>
                </div>
            </div>
            <div class="user-select">
                <div class="users-select-zone">
                    <p>Выберите пользователей для добавления в диалог.</p>
                    <div *ngFor="let friend of friends$ | async">
                        <div class="user-card" 
                        *ngIf="friendsDialog.indexOf(friend.id) == -1;else addedUser" (click)=addUser(friend.id)>
                            <img [src]="friend.image" onError="this.src='/assets/images/no-img.png'" class="avatar" alt="">
                            <p>{{friend.login}}</p>
                        </div>
                        <ng-template #addedUser>
                            <div class="user-card" (click)=removeUser(friend.id)>
                                <img [src]="friend.image" onError="this.src='/assets/images/no-img.png'" class="avatar" alt="">
                                <p>{{friend.login}}</p>
                                <div>
                                    <p>added</p>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div>
                <button class="create-btn" (click)="createDialog()">Create</button>
            </div>
        </div>
    </div>
</div>