<div class="container">
    <div *ngFor="let dialog of dialogues | async" class="dialogs-wrap">
        <div [ngClass]="{'isConfirm': dialog.lastUserId != userId && !dialog.isConfirm}">
            <a *ngIf="dialog" [routerLink]="'../chat/' + dialog.id" class="dialog">
                <img [src]="dialog.image" class="avatar" alt="">
                <div class="info">
                    <p>{{dialog.login}}</p>
                    <p class="text-message">Сообщение: {{dialog.lastMessage}}</p>
                </div>
                <span class="time">{{dialog.dateTime | date: 'HH:mm dd/MM/yyyy'}}</span>
            </a>
        </div>
    </div>
</div>