.container {
    --main-color: #fafafa;
    --main-bg: #cdb4db;

    margin: 0 25%;
}

.dialogs-wrap {
    grid-column: 2;
}

.dialogs-wrap .isConfirm .dialog {
    color: var(--main-color);
    border-color: #4545b1c0;
    background-color: #4545b1c0;
}

.dialog {
    display: flex;
    margin: .2em 0;
    align-items: center;
    border-radius: .2em;
    position: relative;
    padding: .3em .4em;
    color: var(--main-bg);
    text-decoration: none;
    border: 1px solid var(--main-bg);
    transition: color 100ms linear, background-color 100ms linear;
}

dialog * {
    user-select: none;
}

.dialog:hover {
    cursor: pointer;
    color: var(--main-color);
    background-color: var(--main-bg);
}

.dialog .info {
    margin: 0 0 0 .3em;
}

.dialog .info p {
    margin: 0;
}

.dialog .info .text-message {
    margin: .3em 0 0 0;
    user-select: none;
}

.dialog .time {
    position: absolute;
    top: 0;
    right: .3em;
    font-size: small;
    user-select: none;
    cursor: default;
}

.dialog .avatar {
    width: 47px;
    height: 47px;
}