<div class="container">
    <div class="btn-select-wrap">
        <div>
            <button (click)="getFriends()">Все</button>
        </div>
        <div>
            <button (click)="incoming()">Входящие</button>
        </div>
        <div>
            <button (click)="outgoing()">Исходящие</button>
        </div>
    </div>
    <div *ngFor="let user of friends$ | async" class="user-wrap">
        <div class="user-card">
            <img [src]="user.image" class="avatar" alt="">
            <div class="info">
                <p>{{user.login}}</p>
                <p>{{user.email}}</p>
            </div>
            <div class="control-zone">
                <button (click)="accept(user.id)" *ngIf="isIncoming">
                    <i class='bx bx-add-to-queue'></i>
                </button>
                <a [routerLink]="'../chat/' + user.id">
                    <i class='bx bx-chat'></i>
                </a>
            </div>
        </div>
    </div>
</div>
