<div class="user-container">
    <div *ngIf="user$ | async as userData">
        <div class="user">
            <div>
                <img [src]="userData.image" onError="this.src='/assets/images/no-img.png'"
                class="avatar" alt="">
            </div>
            <div class="user-info">
                <p>Логин: {{userData.login}}</p>
                <p>Email: {{userData.email}}</p>
            </div>
        </div>
        <div class="controls">
            <div *ngIf="!userData.isFriend && !userData.isSender && !userData.isReceiver;">
                <div>
                    <button (click)="addUser()">Добавить в друзья</button>
                </div>
            </div>
            <div *ngIf="userData.isFriend">
                <div>
                    <button (click)="deleteFriend()">Удалить из друзей</button>
                </div>
            </div>
            <div *ngIf="userData.isSender;">
                <div>
                    <button (click)="accept()">Принять в друзья</button>
                </div>
            </div>
            <div *ngIf="userData.isReceiver">
                <div>
                    <button (click)="deleteFriend()">Отменить заявку</button>
                </div>
            </div>
        </div>  
    </div>
</div>